.h-hide-show-buttons
  border-bottom 1px solid #ececec
  padding-bottom 8px
  margin-bottom 5px

  button.btn
    padding 2px 5px
    margin 0
    background none

  input
    width 210px
    float right
    margin-left 10px
    margin-top 2px

.h-overlay
    border-radius 3px
    span
        cursor pointer
    .h-float-left
        float left
        margin-right 0.5em

    .h-overlay-right
        float right

    a
        color #333
    .h-overlay-name
        width 164px
        display inline-block
        text-overflow ellipsis
        white-space nowrap
        overflow hidden

.h-overlay.h-active-overlay
  background-color #c5cae9 !important

.h-overlay.h-highlight-overlay
  background-color #ccc

/*
.h-create-overlay
  float right
 */

.h-overlay:hover
  background-color #eee

.h-move-overlay-disabled
  opacity 0.5
