#h-histogram-placeholder
  justify-content center
  align-items center

.h-histogram
  display flex
  margin auto
  width 256px
  height 96px

#h-histogram-slider-container
  height 10px

.h-histogram-bar
  fill #a0a0a0

.selected
  fill #000000
