#h-histogram-placeholder
  justify-content center
  align-items center

.h-histogram
  display flex
  margin auto
  width 256px
  height 96px

  .icon-minus-circled
    font-size 24px
    color red

.checker-background
  fill #ffffff7f

.checker
  fill #337ab77f

#h-histogram-slider-container
  height 10px

.h-histogram-bar
  opacity 0

.selected
  fill #000000
  opacity 1

.exclude
  opacity 0
