#h-histogram-placeholder
  justify-content center
  align-items center

.h-histogram
  display flex
  margin auto
  width 256px
  height 96px

.h-histogram.icon-minus-circled
  font-size 24px
  color red

.checker-background
  fill #ffffff7f

.checker
  fill #337ab77f

#h-histogram-slider-container
  height 10px

.h-histogram-bar
  opacity 0

.h-histogram-bar.selected
  opacity 1

.h-histogram-bar.exclude
  opacity 0

.h-histogram-bar.background
  opacity 0
